---
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostItem from '../components/PostItem.astro'
import Title from '../components/Title.astro'
import type { FrontMatter } from '@/types/frontMatter'

const PAGE_TITLE = 'All Posts'
const allPosts = await Astro.glob<FrontMatter>('../pages/posts/*.md');
---

<BaseLayout title={PAGE_TITLE}>
	<main>
		<Title title={PAGE_TITLE} />
		<div class="articles">
			{allPosts.map((post) => 
			<PostItem 
			url={post.url!} 
			description={post.frontmatter.description}
			title={post.frontmatter.title} 
			date={post.frontmatter.publishedAt} 
			tags={post.frontmatter.tags} 
			/>)}
		</div>
	</main>
</BaseLayout>

<style>
	main {
		padding-inline: var(--space-m);
	}

@media (width >= 768px) {

	main {
		width: 50%;
		margin: 0 auto;
	}

	.hoge {
		color: black;
	}
}
</style>