---
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostItem from '../components/PostItem.astro'
import Title from '../components/Title.astro'
import { queryPosts } from '@/libs/query/post'

const PAGE_TITLE = 'All Posts'
const allPosts = await queryPosts()
---

<BaseLayout title={PAGE_TITLE}>
	<main>
		<Title title={PAGE_TITLE} />
		<div class='articles'>
			{allPosts.map((post) => 
				<PostItem
					isLast={post === allPosts[allPosts.length - 1]}
					class:list={['article']}
					url={`/posts/${  post.slug}`} 
					description={post.description}
					title={post.title} 
					date={post.publishedAt} 
					tags={post.tags} 
				/>)}
		</div>
	</main>
</BaseLayout>

<style>
	main {
		padding: var(--space-xxl) var(--space-m);
	}

	.articles {
		display: flex;
		flex-direction: column;
		gap: var(--space-l);
	}

@media (width >= 768px) {
	main {
		width: 50%;
		margin: 0 auto;
	}
}
</style>