---
import BaseLayout from '../layouts/BaseLayout.astro'
import Title from '../components/Title'
import PostItem from '../components/PostItem'

const PAGE_TITLE = 'All Posts'
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout title={PAGE_TITLE}>
	<Title title={PAGE_TITLE} type='text'/>
	<main>
		<div class="articles">
			{allPosts.map((post) => 
			<PostItem 
			className='' 
			url={post.url!} 
			description={post.frontmatter.description}
			title={post.frontmatter.title} 
			date={post.frontmatter.pubDate} 
			tags={post.frontmatter.tags} 
			/>)}
		</div>
	</main>
</BaseLayout>

<style>
@media (min-width: 768px) {
	.articles {
		width: 50%;
		margin: 0 auto;
	}
}
</style>